<header class="app-header header-light amt">
	<div class="container">
		<div class="row">
			<div class="col-ph-5">
				<a class="ion-help-circled" href="/micro/help" id="logo"><span>microengine</span> help</a>
			</div>
			<div class="col-ph-7">
				<nav class="nav-menu">
					<a class="btn" href="/micro">Вернуться назад</a>
				</ul>
			</div>
		</div>
	</div>
</header>