<div class="app-menu">
	<div class="container">
		<div class="row">
			<div class="col-ph-12">
				<div class="app-menu-item site">
					<div <% if(authUser._group[0].lvl > 1) {%> class="disabled" <% } %>>
						<i class="spr spr-menu-site"></i>
						<span>
							Управление сайтом
							<small>Новости, категории нов...</small>
						</span>
						
						<i class="item-arrow ion-chevron-down"></i>
					</div>
					<ul class="item-drop">
						<li><a href="/micro/site/news" <% if(authUser._group[0].lvl > 1) {%> class="disabled" <% } %>>Новости</a></li>
						<li><a href="/micro/site/news/categories" <% if(authUser._group[0].lvl > 1) {%> class="disabled" <% } %>>Категория новостей</a></li>
						<li><a href="/micro/site/pages/" <% if(authUser._group[0].lvl > 1) {%> class="disabled" <% } %>>Страницы</a></li>
					</ul>
				</div>
				<div class="app-menu-item store">
					<div>
						<i class="spr spr-menu-store"></i>
						<span>
							Складской учет
							<small>Товар, движение тов...</small>
						</span>
						
						<i class="item-arrow ion-chevron-down"></i>
					</div>
					<ul class="item-drop">
						<li><a href="/micro/store/">Товар</a></li>
						<li><a href="/micro/store/sale">Продажи</a></li>
						<li><a href="/micro/store/providers" <% if(authUser._group[0].lvl == 3) {%> class="disabled" <% } %>>Поставщики</a></li>
						<li><a href="/micro/store/units/">Еденицы измерения</a></li>
					</ul>
				</div>
				<div class="app-menu-item users">
					<div <% if(authUser._group[0].lvl == 3) {%> class="disabled" <% } %>> 
						<i class="spr spr-menu-users"></i>
						<span>
							Пользователи
							<small>Пользователи, группы ...</small>
						</span>
						
						<i class="item-arrow ion-chevron-down"></i>
					</div>
					<ul class="item-drop">
						<li><a href="/micro/users" <% if(authUser._group[0].lvl == 3) {%> class="disabled" <% } %>>Список пользователей</a></li>
						<li><a href="/micro/users/group" <% if(authUser._group[0].lvl > 1) {%> class="disabled" <% } %>>Группы пользователей</a></li>
					</ul>
				</div>
				<div class="app-menu-item timetable">
					<a href="/micro/calendar">
						<div>
							<i class="spr spr-menu-timetable"></i>
							<span>
								График работы
								<small>График выхода на ...</small>
							</span>
							
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>