<div class="app-menu">
	<div class="container">
		<div class="row">
			<div class="col-ph-12">
				<div class="app-menu-item site">
					<span>
						<i class="spr spr-menu-site"></i>
						Управление сайтом
						<small>Новости, категории нов...</small>
						<i class="item-arrow ion-chevron-down"></i>
					</span>
					<ul class="item-drop">
						<li><a href="/micro/site/news">Новости</a></li>
						<li><a href="/micro/site/news/categories">Категория новостей</a></li>
						<li><a href="/micro/site/pages/">Страницы</a></li>
					</ul>
				</div>
				<div class="app-menu-item store">
					<span>
						<i class="spr spr-menu-store"></i>
						Складской учет
						<small>Товар, движение тов...</small>
						<i class="item-arrow ion-chevron-down"></i>
					</span>
					<ul class="item-drop">
						<li><a href="#">Товар</a></li>
						<li><a href="#">Продажи</a></li>
						<li><a href="#">Заказы</a></li>
					</ul>
				</div>
				<div class="app-menu-item users">
					<span>
						<i class="spr spr-menu-users"></i>
						Пользователи
						<small>Пользователи, группы ...</small>
						<i class="item-arrow ion-chevron-down"></i>
					</span>
					<ul class="item-drop">
						<li><a href="/micro/users">Список пользователей</a></li>
						<li><a href="/micro/users/group">Группы пользователей</a></li>
					</ul>
				</div>
				<div class="app-menu-item timetable">
					<a href="/micro/calendar">
						<span>
							<i class="spr spr-menu-timetable"></i>
							График работы
							<small>График выхода на ...</small>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>