<% layout('../layout/clear') -%>
<% block('title', '404 page not found') -%>



<div class="panel-error">
	<div class="panel-body">
		<h1 class="amt fadeInDown">
			<span data-toggle="counter" data-start="0" data-from="0" data-to="404" data-speed="600" data-refresh-interval="10">404</span>
			<small>page not found</small>
		</h1>
		<p>
			Мы сожалеем, но мы не смогли найти<br>запрашиваемую страницу.
		</p>
	</div>
	<div class="panel-footer">
		<a href="/micro" class="btn btn-success">Вернуться назад</a>
	</div>
</div>

