<% layout('../layout/light') -%>
<% block('title', pageNameRu) -%>

<div class="row">
	<div class="col-ph-12">
		<div class="help-filter">
			<button type="button" data-filter="*" class="btn is-checked">Все вопросы</button>
			<button type="button" data-filter=".users" class="btn">Пользователи</button>
			<button type="button" data-filter=".calendar" class="btn">График работы</button>
		</div>
		<div class="help-content">
				<div class="element-item calendar">
					<a>Как добавить сотрудника на определённый день в графике?</a>
					<div class="help-answer">
						Для того, чтобы добавить сотрудника на определённый день в графике, необходимо навести курсор на сотрудника в списке сотрудников, наведя курсор зажать левую кнопку мыши и перетянуть на нужный день в графике <b>(Доступно для уровня доступа 1)</b>
					</div>
				</div>
				<div class="element-item calendar">
					<a>Как удалить сотрудника из графика?</a>
					<div class="help-answer">
						Для того, чтобы улалить сотрудника из графика, необходимо навести курсор на сотрудника в графике и нажать левую кнопку мыши <b>(Доступно для уровня доступа 1)</b>
					</div>
				</div>
		</div>
	</div>
</div>


<!-- <div class="row">
	<div class="col-ph-12">
		<ul class="help-panel">
			<li><a href="#">Adding an email address to your GitHub account</a></li>
			<li><a href="#">Reviewing your security log</a></li>
			<li><a href="#">Discounted private accounts</a></li>
			<li><a href="#">Changing your primary email address</a></li>
			<li><a href="#">Changing your GitHub username</a></li>
			<li><a href="#">Merging multiple user accounts</a></li>
			<li><a href="#">Deleting your user account</a></li>
			<li><a href="#">What's the difference between user and organization accounts?</a></li>
			<li><a href="#">Publicizing or concealing organization membership</a></li>
			<li><a href="#">Permission levels for a user account repository</a></li>
			<li><a href="#">What happens when I change my username?</a></li>
			<li><a href="#">Remembering your GitHub username or email</a></li>
			<li><a href="#">What happens if my repository is locked?</a></li>
			<li><a href="#">Blocking a user</a></li>
			<li><a href="#">Unblocking a user</a></li>
			<li><a href="#">Best practices for leaving your company</a></li>
			<li><a href="#">What does the 'Available for hire' checkbox do?</a></li>
			<li><a href="#">Verifying your email address</a></li>
			<li><a href="#">Preventing Unauthorized Access</a></li>
			<li><a href="#">Sudo Mode</a></li>
		</ul>
	</div>
</div> -->