<% layout('../layout/light') -%>
<% block('title', pageNameRu) -%>

<div class="row">
	<div class="col-ph-12">
		<div class="help-filter">
			<button type="button" data-filter="*" class="btn is-checked">Все вопросы</button>
			<button type="button" data-filter=".store" class="btn">Складской учет</button>
			<button type="button" data-filter=".users" class="btn">Пользователи</button>
			<button type="button" data-filter=".calendar" class="btn">График работы</button>
		</div>
		<div class="help-content">
				<div class="element-item calendar">
					<a>Как добавить сотрудника на определённый день в графике?</a>
					<div class="help-answer">
						Для того, чтобы добавить сотрудника на определённый день в графике, необходимо навести курсор на сотрудника в списке сотрудников, наведя курсор зажать левую кнопку мыши и перетянуть на нужный день в графике <b>(Доступно для 1 уровня доступа)</b>
					</div>
				</div>
				<div class="element-item calendar">
					<a>Как удалить сотрудника из графика?</a>
					<div class="help-answer">
						Для того, чтобы улалить сотрудника из графика, необходимо навести курсор на сотрудника в графике и нажать левую кнопку мыши <b>(Доступно для 1 уровня доступа)</b>
					</div>
				</div>
				<div class="element-item users">
					<a>Уровни доступа</a>
					<div class="help-answer">
						Уровень доступа "1" - полный доступ ко всем функциям приложения;<br>
						Уровень доступа "2" - полный доступ, за исключением управления сайтом, пользователями и графиком работы;<br>
						Уровень доступа "3" - включает в себя просмотр графика работы и возможность регистрации продажи в разделе "складской учёт"
					</div>
				</div>
				<div class="element-item store">
					<a>Как добавить новую категорию?</a>
					<div class="help-answer">
						Для того, чтобы добавить новую категорию или подкатегорию необходимо нажать на кнопку "Добавить" и ввести название новой категории в модальном окне.
						<br><b>(Доступно для 1 уровня доступа)</b>
					</div>
				</div>
		</div>
	</div>
</div>