<% layout('../layout/dark') -%>
<% block('title', pageNameRu) -%>


<div class="panel-mini forgot amt fadeInDown">
	<div class="panel-mini__header">
		<a class="ion-log-in" id="logo" href="/micro/login"><span>micro</span>engine</a>
		<h1>Сброс пароля</h1>
	</div>
	<form id="reset-pass">
		<div class="panel-mini__body">
			<input type="password" name="password" placeholder="Новый пароль">
		</div>
		<div class="panel-mini__footer">
			<button class="btn btn-success">Обновить пароль</button>
		</div>
	</form>
</div>