.app{ min-height: 100%; padding: 64px 0 100px; position: relative; background: #eaf0f6;
	
}


.app-card{background: #fff; border-radius: 3px;
	.card-title{padding: 20px 30px; border-bottom: 1px solid #F5F7F8;}

	.card-content{padding: 20px 30px;}
}