<div class="b-carousel owl-carousel owl-theme">
	<div class="item">
		<img src="/template/images/carousel/slide1.jpg">
	</div>
	<div class="item">
		<img src="/template/images/carousel/slide2.jpg">
	</div>
</div>