div.search-table{ position: relative; padding: 11px 0 11px 45px; border: 1px solid #e3eaf3; border-radius: 3px; 
				   overflow: hidden; float: right;
	input{ font-size: 13px; width: 100%; border: 0; padding-right: 15px; color: #4c637b; width: 300px;}
	span{position: absolute; top: 50%; margin-top: -9px; left: 12px; }
}