<% layout('../layout/light') -%>
<% block('title', pageNameRu) -%>

<div class="row">
	<div class="col-ph-12">
		<div class="help-filter">
			<button type="button" data-filter="*" class="btn is-checked">Все вопросы</button>
			<button type="button" data-filter=".site" class="btn">Управление сайтом</button>
			<button type="button" data-filter=".store" class="btn">Складской учет</button>
			<button type="button" data-filter=".users" class="btn">Пользователями</button>
			<button type="button" data-filter=".graph" class="btn">График работы</button>
		</div>
		<div class="help-content">
				<div class="element-item site">
					<a >Why are my contributions not showing up on my profile?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quos eaque quidem. Omnis laboriosam adipisci, ipsa reprehenderit modi atque, consequuntur beatae neque temporibus excepturi quas dolor veniam. Facilis cumque, laborum placeat nemo maiores in magnam aut ipsa accusantium, minima magni dicta dolor quaerat quae alias quam suscipit. Commodi reprehenderit, non!
					</div>
				</div>
				<div class="element-item">
					<a>Why is Git always asking for my password?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sunt nobis voluptate excepturi rerum maiores nostrum quis cupiditate commodi! Iusto ea, hic qui veritatis dignissimos officia mollitia minima explicabo! Excepturi ipsam debitis rem, maxime neque veritatis hic, accusantium at accusamus aspernatur in quibusdam reiciendis veniam nisi dolores, quae culpa ex.
					</div>
				</div>
				<div class="element-item">
					<a >Error: Repository not found?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate voluptatum necessitatibus optio eligendi illo ipsum officiis minus quod fugit odit est asperiores saepe magni eius ab quaerat sapiente nostrum sed iusto similique maxime, tempore doloremque? Nemo laborum vel consectetur, ex sit reprehenderit, facilis, sed quia dolores veritatis libero nam.
					</div>
				</div>
				<div class="element-item store">
					<a >Do you have custom plans?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis eos neque sed commodi voluptas, aliquam labore, obcaecati! Ex esse consectetur, perferendis vel! Ex quos aut maxime delectus, nam corporis consectetur ullam sit. Natus enim harum, excepturi? Cumque temporibus totam porro dolorem laboriosam qui cupiditate, minus fugit omnis consequatur animi.
					</div>
				</div>
				<div class="element-item">
					<a >HTTPS cloning errors?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dolorem atque adipisci quos modi omnis placeat eveniet officia, excepturi voluptate nisi similique reiciendis asperiores voluptatum ipsam architecto tempora. At maiores, dolor hic reiciendis suscipit veniam, ullam adipisci dicta ducimus ipsam accusamus molestiae veritatis laudantium. Quidem facere nemo cupiditate dicta incidunt?
					</div>
				</div>
				<div class="element-item store">
					<a >What is my disk quota?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto velit, inventore aliquid similique beatae rerum eveniet delectus tempora, fugit reiciendis facere sunt maxime? Nisi nam, deleniti perferendis dicta. Numquam iure odio ullam temporibus cupiditate dignissimos. Molestiae aspernatur totam, facere. Illo reprehenderit aliquid maxime, tempore ullam magnam ea reiciendis maiores totam.
					</div>
				</div>
				<div class="element-item site">
					<a >What are the limits for viewing content and diffs in my repository?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil expedita recusandae doloremque inventore delectus ullam cupiditate. Laboriosam totam quam ea sint, dolores temporibus fugiat veniam pariatur dignissimos voluptatem repellendus maxime quas veritatis quibusdam recusandae sequi error, earum modi cum nesciunt delectus molestias doloremque quod dolorem. Maxime quos, voluptatem quidem maiores.
					</div>
				</div>
				<div class="element-item">
					<a >Remove sensitive data?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste culpa non incidunt, in. Accusamus distinctio voluptas dolorum, harum, culpa optio voluptatibus laborum excepturi aperiam ea corrupti sint officia, qui minima consequuntur minus eius? A maiores libero minima repellat eveniet consequuntur voluptates, vero eius est, praesentium consequatur, fuga veritatis architecto cumque.
					</div>
				</div>
				<div class="element-item store">
					<a >How do I access my organization account?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi natus doloremque autem accusamus ut commodi minima, earum facilis cum! Fugit, sapiente dolor aspernatur autem ipsa laborum atque ab velit mollitia consequatur repellendus nostrum, non hic nesciunt molestias eligendi temporibus perferendis modi magni iure quibusdam eos assumenda deserunt dolore! Asperiores, excepturi.
					</div>
				</div>
				<div class="element-item">
					<a >What are the different access permissions?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequuntur dignissimos, necessitatibus natus voluptas mollitia quas quasi voluptatum, repudiandae quam expedita, totam architecto! Omnis eaque sequi explicabo, aut neque perspiciatis minus asperiores consequatur maxime distinctio saepe aliquam porro voluptatibus sapiente sunt, tempore vel illo vero iste! Quasi quidem eveniet aut?
					</div>
				</div>
				<div class="element-item site">
					<a >Why are my commits linked to the wrong user?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea reiciendis dicta praesentium fuga, velit, ducimus ex inventore expedita quam qui omnis. Quia aut rem labore officia velit tempora, consequatur ipsum, quam, adipisci nisi odio architecto esse. Doloremque non, a quae recusandae consequuntur sunt velit alias ad, dolorum, voluptatum mollitia aliquid.
					</div>
				</div>
				<div class="element-item store">
					<a >What plan should I choose?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum pariatur voluptas tempora numquam accusantium expedita nobis excepturi, quasi aut rerum doloribus velit. Dolorem sint nesciunt in doloribus accusamus voluptatibus, repudiandae maxime, animi placeat, ullam eligendi pariatur enim magni libero quisquam molestias dolore cumque veniam magnam sapiente fugiat. Doloribus, magni qui.
					</div>
				</div>
				<div class="element-item">
					<a >How do I cancel my account?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rem harum alias quasi modi tempore porro doloremque in, eveniet accusantium a, magnam quod temporibus nihil aspernatur omnis reprehenderit minima! Labore iusto rem mollitia culpa qui quaerat aliquid repellendus delectus debitis, quo officiis explicabo ex, commodi magni nobis est alias eum.
					</div>
				</div>
				<div class="element-item site">
					<a >Error: remote HEAD refers to nonexistent ref, unable to checkout?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto omnis incidunt dolor velit sapiente alias ipsa quia aut tempora quaerat saepe, laborum provident nemo, minus dicta odit magni illo! Quibusdam, magnam. Repudiandae sint perferendis distinctio excepturi incidunt ullam quo laudantium, quisquam nesciunt expedita sapiente sit fugit dolore, dolorum assumenda? In!
					</div>
				</div>
				<div class="element-item store">
					<a >My repository is marked as the wrong language?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum tempore necessitatibus asperiores reiciendis tempora eaque mollitia, facilis laudantium perspiciatis, quia non, nostrum! Saepe, nobis. Qui nam sint, reiciendis, ratione aliquam illo placeat, pariatur illum repudiandae dolor dicta sit facilis. Esse reprehenderit voluptate quisquam odit sapiente dignissimos eaque repudiandae modi, dolor.
					</div>
				</div>
				<div class="element-item site">
					<a >Paying for your GitHub user account</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam enim eos omnis, molestiae pariatur quaerat. Dignissimos nobis pariatur eaque alias facere excepturi perferendis earum ipsam ipsum minima praesentium harum suscipit, nulla adipisci eveniet voluptatibus sunt doloribus, quisquam. Dolore praesentium, assumenda animi quibusdam. Reprehenderit architecto facilis cupiditate laudantium deleniti odit, similique.
					</div>
				</div>
				<div class="element-item">
					<a >How can I add extra information to my personal account's receipts?</a>
					<div class="help-answer">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequatur, eum numquam ratione excepturi nam sequi tempore cupiditate inventore quas provident consequuntur eos magnam iste, obcaecati velit voluptatem accusantium in pariatur sapiente deleniti quod repudiandae totam nobis eius! Dignissimos mollitia optio consequuntur quia odit placeat dolorum ex et, cupiditate accusamus.
					</div>
				</div>
		</div>
	</div>
</div>


<!-- <div class="row">
	<div class="col-ph-12">
		<ul class="help-panel">
			<li><a href="#">Adding an email address to your GitHub account</a></li>
			<li><a href="#">Reviewing your security log</a></li>
			<li><a href="#">Discounted private accounts</a></li>
			<li><a href="#">Changing your primary email address</a></li>
			<li><a href="#">Changing your GitHub username</a></li>
			<li><a href="#">Merging multiple user accounts</a></li>
			<li><a href="#">Deleting your user account</a></li>
			<li><a href="#">What's the difference between user and organization accounts?</a></li>
			<li><a href="#">Publicizing or concealing organization membership</a></li>
			<li><a href="#">Permission levels for a user account repository</a></li>
			<li><a href="#">What happens when I change my username?</a></li>
			<li><a href="#">Remembering your GitHub username or email</a></li>
			<li><a href="#">What happens if my repository is locked?</a></li>
			<li><a href="#">Blocking a user</a></li>
			<li><a href="#">Unblocking a user</a></li>
			<li><a href="#">Best practices for leaving your company</a></li>
			<li><a href="#">What does the 'Available for hire' checkbox do?</a></li>
			<li><a href="#">Verifying your email address</a></li>
			<li><a href="#">Preventing Unauthorized Access</a></li>
			<li><a href="#">Sudo Mode</a></li>
		</ul>
	</div>
</div> -->