<% layout('../layout/dark') -%>
<% block('title', pageNameRu) -%>


<div class="panel-login amt fadeInDown">
	<div class="panel-login__header">
		<a class="ion-log-in" id="logo"><span>micro</span>engine</a>
	</div>
	<form id="signin">
		<div class="panel-login__body">
			<input type="email" name="email" placeholder="E-mail">
			<input type="password" name="password" placeholder="Пароль">
		</div>
		<div class="panel-login__footer">
			<div>
				<button class="btn btn-success">Войти</button>
			</div>
			<div class="password-recovery">
				Если забыли пароль, Вы можете его <a href="">восстановить</a>
			</div>
		</div>
	</form>
</div>