<% layout('../layout/base') -%>
<% block('title', pageNameRu) -%>


<div class="row">
	<div class="col-ph-12">
		<div class="app-card">
			<div class="card-title clr">
				<div class="card-header">
					<h1>Категории <span>новостей</span></h1>
				</div>
				<div class="card-tools">
					<a class="card-resize ion-arrow-resize"></a>
				</div>
			</div>
			<div class="card-content">
				xXx
			</div>
		</div>
	</div>
</div>