<% layout('../layout/base') -%>
<% block('title', pageNameRu) -%>


<div class="row">
	<div class="col-ph-12">
		<div class="app-card">
			<div class="card-title clr">
				<div class="card-header">
					<h1>Список <span>статических страниц</span></h1>
				</div>
				<div class="panel-tools">
					<a data-tool="card-resize" class="tool-resize"></a>
					<a data-tool="table-reload" class="tool-refresh" ></a>
					<a data-tool="trigger" class="tool-more"><span class="notifications"></span></a>
					<div class="tools-more">
						<a href="/micro/site/pages/new" class="tool-add"></a>
						<a data-tool="edit-page" class="tool-edit disabled"></a>
						<a data-modal="remove-page" data-tool="remove" class="tool-remove disabled"></a>
					</div>
				</div>
			</div>
			<div class="card-content">
				<table class="app-table" table-name="pages">
					<thead>
						<tr>
							<th></th>
							<th>Название</th>
							<th>Автор</th>
							<th>Дата Создание</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="cd-modal" id="remove-page">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span>выбранные записи?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>