<% layout('../layout/base') -%>
<% block('title', pageNameRu) -%>


<div class="row">
	<div class="col-ph-12">
		<div class="app-card">
			<div class="card-title clr">
				<div class="card-header">
					<h1>Список <span>пользователей</span></h1>
				</div>
				<div class="panel-tools basic-panel">
					<a data-tool="card-resize" class="tool-resize"></a>
					<a data-tool="table-reload" class="tool-refresh" ></a>
					
					<% if(authUser._group[0].lvl == 1){ %>
						<a class="trigger"><span></span></a>
						<div class="tools-more">
							<a data-modal="add-users" class="tool-add"></a>
							<a data-modal="edit-user" data-tool="edit" class="tool-edit disabled"></a>
							<a data-modal="remove-users" data-tool="remove" class="tool-remove disabled"></a>
						</div>
					<% } %>
				</div>
			</div>
			<div class="card-content">
				<table class="app-table" table-name="users">
					<thead>
						<tr>
							<th></th>
							<th>ФИО</th>
							<th>E-mail</th>
							<th>Группа</th>
							<th>Дата регистрации</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="cd-modal" id="remove-users">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span>выбранные записи?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>


<div class="cd-modal" id="add-users">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Добавить <span>нового пользователя</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group">
					<label>ФИО</label>
					<input type="text" name="name" class="form-control" placeholder="Имя нового пользователя">
				</div>
				<div class="form-group">
					<label>E-mail</label>
					<input type="email" name="email" class="form-control" placeholder="E-mail для подтверждения регистрации">
				</div>
				<div class="form-group">
					<label>Пароль</label>
					<input type="password" name="password" class="form-control" placeholder="***">

				</div>
				<div class="form-group">
					<label>Повторите пароль</label>
					<input type="password" name="repeatpassword" class="form-control" placeholder="***">
				</div>
				<div class="form-group">
					<label>Группа</label>
					<select name="group" class="form-control">
						<% userGroups.forEach(function(group) { %>
        					<option value="<%= group._id %>"><%= group.name %></option>
   						 <% }); %>
					</select>
				</div>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Добавить</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>


<div class="cd-modal" id="edit-user">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Редактирование <span>данных пользователя</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="users-edit">
			<div class="cd-modal-body">
				<div class="form-group hide">
					<label>ID</label>
					<input type="text" name="id" class="form-control">
				</div>
				<div class="form-group">
					<label>ФИО</label>
					<input type="text" name="name" class="form-control" placeholder="Имя нового пользователя">
				</div>
				<div class="form-group">
					<label>E-mail</label>
					<input type="email" name="email" class="form-control" placeholder="E-mail для подтверждения регистрации">
				</div>
				<div class="form-group">
					<label>Новый пароль</label>
					<input type="password" name="password" class="form-control" placeholder="***">
				</div>
				<div class="form-group">
					<label>Группа</label>
					<select name="group" class="form-control">
						<% userGroups.forEach(function(group) { %>
        					<option value="<%= group._id %>"><%= group.name %></option>
   						 <% }); %>
					</select>
				</div>
			</div>
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Изменить</button>
				<button class="btn cd-modal-close" type="reset">Отмена</button>
			</div>
		</form>
	</div>
</div>
