<footer class="footer-mini">
	<div class="container">
		<div class="row">
			<div class="col-tb-12">
				<span>Copyright © 2015, <a href="https://github.com/IlyaSuhodolskiy">Ilya Suhodolskiy</a></span>
			</div>
		</div>
	</div>
</footer>