<footer class="footer-default">
	<div class="container">
		<div class="row">
			<div class="col-tb-6">
				<span>Поддержка: <a href="mailto:ilya.suhodolskiy@gmail.com">ilya.suhodolskiy@gmail.com</a></span>
			</div>
			<div class="col-tb-6 text-right">
				<span>Copyright © 2015, <a href="https://github.com/IlyaSuhodolskiy">Ilya Suhodolskiy</a></span>
			</div>
		</div>
	</div>
</footer>