<% layout('../../layout/base') -%>
<% block('title', pageNameRu) -%>


<div class="row">
	<div class="col-ph-12">
		<div class="app-card">
			<div class="card-title clr">
				<div class="card-header">
					<h1>Продажи</h1>
				</div>
				<div class="panel-tools basic-panel">
					<a data-tool="card-resize" class="tool-resize"></a>
					<a data-tool="table-reload" class="tool-refresh" ></a>
				</div>
			</div>
			<div class="card-content">
				<input type="text" id="datepicker" placeholder="Выберите дату...">
				<table class="app-table" table-name="sale">
					<thead>
						<tr>
							<th></th>
							<th>Название</th>
							<th>Количество</th>
							<th>Цена</th>
							<th>Сумма</th>
							<th>Провел(а)</th>
							<th>Комментарий</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>