<% layout('../../layout/store') -%>
<% block('title', pageNameRu) -%>


<div class="row">
	<div class="col-ph-12">
		<div class="app-card">
			<div class="card-title clr">
				<div class="card-header">
					<h1>Складской <span>учет</span></h1>
				</div>
				<div class="panel-tools store">
					<a data-tool="card-resize" class="tool-resize"></a>
					<a data-tool="trigger" class="tool-more"><span class="notifications"></span></a>
					<div class="tools-more">
						<a data-modal="add-newscategories" class="tool-add"></a>
						<a data-modal="edit-newscategories" data-tool="edit" class="tool-edit disabled"></a>
						<a data-modal="remove-newscategories" data-tool="remove" class="tool-remove disabled"></a>
					</div>
					<a class="divider"></a>
					<a data-modal="add-store-category" class="tool-add"></a>
					<a data-tool="category-edit" class="tool-edit disabled"></a>
					<a data-tool="category-remove" data-modal="remove-store-category" class="tool-remove disabled"></a>
				</div>
			</div>
			<div class="card-content">
				<div class="row-fluid">
					<div class="col-ld-2">
				  		<div id="store-category" style="overflow: scroll;"></div>
					</div>
					<div class="col-ld-10">
						<table class="app-table " table-store="goods">
							<thead>
								<tr>
									<th></th>
									<th>Наименование</th>
									<th>Кол-во</th>
									<th>Ед.изм</th>
									<th>Закуп.стоимость</th>
									<th>Наценка</th>
									<th>Цена</th>
									<th>Всего</th>
								</tr>
							</thead>
						</table>
						<table class="app-table" table-store="motion">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th>Кол-во</th>
									<th>Цена</th>
									<th>Сумма</th>
									<th>Дата</th>
									<th>№ документа</th>
									<th>Поставщик</th>
									<th>Комментарий</th>
								</tr>
							</thead>
						</table>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="cd-modal" id="remove-store-category">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span>выбранные записи?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="add-store-category">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Добавить <span>новую категорию</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group">
					<label>Название</label>
					<input type="text" name="name" class="form-control" placeholder="Название категории">
				</div>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Добавить</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>