*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;margin: 0;}

html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {font-family: $font-family-sans-serif;font-weight: $font-weight;font-size: $font-size-base;color: $text-color; background-color: $body-bg;}

html,body{min-height: 100%; height: 100%;} 

.clr:before, .clr:after, .container:before, .container:after, 
.row:before, .row:after, .container:before,.container:after, 
.container-fluid:before,.container-fluid:after,
.navbar-collapse:before, .navbar-collapse:after,
.cd-tabs-navigation:before, .cd-tabs-navigation:after,
.navbar-header:before, .navbar-header:after{
    display: table; content: ''; clear: both;
}


article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}

img {border: 0;}
svg:not(:root) {overflow: hidden;}

button,input,optgroup,select,textarea {margin: 0; font: inherit; color: inherit; outline: none;}
button {overflow: visible;}
textarea {overflow: auto;}

a{ color: $link-color; text-decoration: none; cursor: pointer;}

figure {margin: 0;} .circle {border-radius: 50%;}

p{margin: 0 0 10px;} .d_n{display: none;}

.text-left {text-align: left;} .text-right {text-align: right;}
.text-center {text-align: center;} .text-just {text-align: justify;}
.text-upp {text-transform: uppercase;}

.fl-right{float: right;} .fl-left{float: left;}

/* button */
    
    .btn{ display: inline-block; border: 0; cursor: pointer; font-size: 13px; padding: 10px 30px; transition: background .3s 0; margin-right: 15px; border-radius: 3px;}

        .btn-success{background: #3AA466; color: #D1FFD0;
            &:hover{background: #359a5f;}
        }
        .btn-info{background: #5f9ed3; color: #fff;
            &:hover{background: #4277b8;}
        }
        .btn-danger{background: #f44336; color: #fff;
            &:hover{background: #b21c24;}
        }

/* Status Output */

    .status-output{ padding: 13px 40px 13px 20px;  font-size: 13px; margin-bottom: 10px; position: relative; overflow: hidden; border-radius: 3px;
        .ss-close{ position: absolute; border-radius: 3px; right: 20px; top: 50%; margin-top: -6px;}
    }

        .ss-warning{ background: #f0ad4e; color: #fff; }
        .ss-error{ background: #d9534f; color: #fff; }
        .ss-success{ background: #5cb85c; color: #fff; }
        .ss-info{ background: #5bc0de; color: #fff; }


/* mixed: mobile and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
        .hidden-desktop {display: inherit !important;}
        .visible-desktop {display: none !important ;}
        .visible-tablet {display: inherit !important;}
        .hidden-tablet {display: none !important;}
    }

    @media (max-width: 767px) {
        .hidden-desktop {display: inherit !important;}
        .visible-desktop {display: none !important;}
        .visible-phone {display: inherit !important;}
        .hidden-phone {display: none !important;}
    }

/* grid */
    .container,.container-fluid{
        padding-right: $container-padding;
        padding-left: $container-padding;
        margin-right: auto;
        margin-left: auto;
    }
    .container{width: 1200px;}

    @media (max-width: 1200px) {.container{
        width: 100%;}
    }


    .row {
        margin-right: $row-margin;
        margin-left: $row-margin;
    }

    .col-ph-1, .col-tb-1, .col-dt-1, .col-ld-1, .col-ph-2, .col-tb-2, .col-dt-2, .col-ld-2,
    .col-ph-3, .col-tb-3, .col-dt-3, .col-ld-3, .col-ph-4, .col-tb-4, .col-dt-4, .col-ld-4,
    .col-ph-5, .col-tb-5, .col-dt-5, .col-ld-5, .col-ph-6, .col-tb-6, .col-dt-6, .col-ld-6,
    .col-ph-7, .col-tb-7, .col-dt-7, .col-ld-7, .col-ph-8, .col-tb-8, .col-dt-8, .col-ld-8,
    .col-ph-9, .col-tb-9, .col-dt-9, .col-ld-9, .col-ph-10, .col-tb-10, .col-dt-10, .col-ld-10,
    .col-ph-11, .col-tb-11, .col-dt-11, .col-ld-11, .col-ph-12, .col-tb-12, .col-dt-12, .col-ld-12{
        position: relative;
        min-height: 1px;
        padding-right: $col-padding;
        padding-left: $col-padding;
    }

    /* phones (<768px) */
        @include create-grid-columns('ph');

    /* tablets (≥768px) */
        @media (min-width: 768px) {
            @include create-grid-columns('tb');
        }

    /* desktops (≥992px) */
        @media (min-width: 992px) {
            @include create-grid-columns('dt');
        }
    /* larger desktops (≥1200px) */
        @media (min-width: 1200px) {
            @include create-grid-columns('ld');
        }


    .irinatablica{ width: 100%; margin-top: 100px;
        tr{
            &.active{ background: red; }
            &:nth-child(2n){background: #eaeaea;}
            td{ padding: 10px 20px;border-bottom: 1px solid grey; }
        }
        
    }