.spr{background: url('/images/spr.svg'); display: inline-block;}

.spr-logo{background-position: 0 0; width: 165px; height: 22px;}

.spr-ss-close{ background-position: -54px -42px; width: 12px; height: 12px;}
.spr-logout{ background-position: -68px -41px; width: 15px; height: 15px;}
.spr-profile{ background-position: -85px -41px; width: 15px; height: 15px;}
.spr-title-back{ background-position: -1px -59px; width: 25px; height: 25px;}
.spr-search{ background-position: -30px -59px; width: 19px; height: 18px; }