<% layout('../layout/base') -%>
<% block('title', "Панель управления") -%>
<% block('description', "") -%>

<div class="app-page-navigation">
	<div class="container">
		<div class="col-ld-12">
			
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-ld-12">
			<div class="ct-chart ct-perfect-fourth"></div>
		</div>
	</div>
</div>
