<% layout('../layout/clear') -%>
<% block('title', "Авторизация") -%>

<main class="app-login" role="login">
	<div class="container">
		<form class="form-signin amtn bounceIn" formnovalidate>
			<a class="login-logo" href="#"><span class="spr spr-logo"></span></a>
			<fieldset>
				<input type="email" formnovalidate name="email" placeholder="E-mail" required="required">
				<input type="password" name="password" placeholder="Пароль" required="required">
			</fieldset>
			<fieldset class="form-signin-footer clr">
				<input  class="btn btn-success" type="submit" value="Войти">
				<span class="recover-pass">
					Если вы забыли пароль, вы можете его <a href="#">восстановить</a>
				</span>
			</fieldset>
		</form>
	</div>

	<%-partial('../partials/footer-mini')%>
</main>