<% layout('../layout/base') -%>
<% block('title', pageNameRu) -%>

<div class="app-page-navigation">
	<div class="container">
		<div class="col-ld-12">
			<nav>
				<a href="/micro/users">Список пользователи</a>
				<a href="/micro/usersgroup" class="selected">Группы пользователей</a>
				<a href="#">Настройка пользователей</a>
			</nav>
		</div>
	</div>
</div>
<div class="app-content container">
	<div class="row">
		<div class="col-ld-12">
			<div class="app-card">
				<div class="card-title">
					<a class="btn btn-success">Добавить</a>
					<a class="btn btn-info">Изменить</a>
					<a class="btn btn-danger">Удалить</a>
				</div>
				<div class="card-content">
					<table class="app-table">
						<thead>
							<tr>
								<td>id</td>
								<td>Название группы</td>

							</tr>
						</thead>
						<tbody>
							<% usergroups.forEach(function(usersgroup) {%>
							    <tr usersgroup-id="<%= usersgroup._id %>">
							    	<td><%= usersgroup._id %></td>
							        <td><%= usersgroup.name %></td>
							    </tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>